.w_bold {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #397594; TEXT-DECORATION: none
}
.blue_border {
	BORDER-RIGHT: #397594 1px solid; BORDER-TOP: #397594 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #397594 1px solid; BORDER-BOTTOM: #397594 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dae8f3
}
.dark_blue_white {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #00309c; TEXT-DECORATION: none
}
.dark_b_border {
	BORDER-RIGHT: #00309c 1px solid; BORDER-TOP: #00309c 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #00309c 1px solid; BORDER-BOTTOM: #00309c 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dedcfc
}
.dark_purple_white_old {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #6c09c8; TEXT-DECORATION: none
}
.dark_purple_border {
	BORDER-RIGHT: #9c65ce 1px solid; BORDER-TOP: #9c65ce 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #9c65ce 1px solid; BORDER-BOTTOM: #9c65ce 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e7ebf7
}
.dark_white {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #f7f7f7; TEXT-DECORATION: none
}
.dark_white1 {
	BACKGROUND-COLOR: #e7ebf7
}
.dark_black_border {
	BORDER-RIGHT: #397594 1px solid; BORDER-TOP: #397594 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #397594 1px solid; COLOR: #cccccc; BORDER-BOTTOM: #397594 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #397594
}
.dark_white3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.dark_purple_white {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WORD-SPACING: 0.1em; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #3333ff; TEXT-DECORATION: none
}
